<div class="container">
  <app-arrow-button></app-arrow-button>
  <div class="text-section">
    <h1>Local Access to Information in Ghana</h1>
    <p class="subtitle">Localising SDG Indicators and Computing the Novel Access to Information Index</p>
    <p class="author">Ghana Statistical Service Data Science Team</p>
    <p class="date">6 de noviembre de 2023</p>
  </div>
  <div class="image-section">
    <img src="/assets/medellin_magico4k.webp" alt="Application Image" />
  </div>
</div>
<!-- New Tab Section -->
<div class="tab-section">
    <mat-tab-group>
      <mat-tab label="The problem">
        <div class="tab-content">
          <div class="text-section">
            <h2>The problem</h2>
            <p class="subtitle">Description for Tab 1.</p>
            <p class="author">Author or Source for Tab 1</p>
          </div>
          <div class="image-section">
            <img src="/assets/medellin_magico.webp" alt="Tab 1 Image" />
          </div>
        </div>
      </mat-tab>
      <mat-tab label="History of Medellín">
        <div class="tab-content">
          <div class="text-section">
            <h2>Tab 2 Title</h2>
            <p class="subtitle">Description for Tab 2.</p>
            <p class="author">Author or Source for Tab 2</p>
          </div>
          <div class="image-section">
            <img src="/assets/gato_verdolaga.webp" alt="Tab 2 Image" />
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Tourism impact indicators">
        <div class="tab-content">
          <div class="text-section">
            <h2>The problem</h2>
            <p class="subtitle">Description for Tab 1.</p>
            <p class="author">Author or Source for Tab 1</p>
          </div>
          <div class="image-section">
            <img src="/assets/gato_verdolaga.webp" alt="Tab 1 Image" />
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Sustainable indicators">
        <div class="tab-content">
          <div class="text-section">
            <h2>Tab 2 Title</h2>
            <p class="subtitle">Description for Tab 2.</p>
            <p class="author">Author or Source for Tab 2</p>
          </div>
          <div class="image-section">
            <img src="/assets/gato_verdolaga.webp" alt="Tab 2 Image" />
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Our solution">
        <div class="tab-content">
          <div class="text-section">
            <h2>The problem</h2>
            <p class="subtitle">Description for Tab 1.</p>
            <p class="author">Author or Source for Tab 1</p>
          </div>
          <div class="image-section">
            <img src="/assets/gato_verdolaga.webp" alt="Tab 1 Image" />
          </div>
        </div>
      </mat-tab>
      <mat-tab label="MIT License">
        <div class="tab-content">
          <div class="text-section">
            <h2>Tab 2 Title</h2>
            <p class="subtitle">Description for Tab 2.</p>
            <p class="author">Author or Source for Tab 2</p>
          </div>
          <div class="image-section">
            <img src="/assets/gato_verdolaga.webp" alt="Tab 2 Image" />
          </div>
        </div>
      </mat-tab>
      <!-- Add more tabs as needed -->
    </mat-tab-group>
  </div>