<div class="container">
  <app-arrow-button></app-arrow-button>
  <div class="text-section">
    <h1>Medellín’s journey toward sustainable tourism</h1>
    <p class="subtitle">Understanding the impact of tourism and developing tools to democratize its
         benefits by focusing on sustainable initiative.</p>
    <p class="author">MMM team, de Medallo pal mundo</p>
    <p class="date">10 de noviembre de 2024</p>
  </div>
  <div class="image-section">
    <img src="/assets/medellin_4.jpg" alt="Application Image" />
  </div>
</div>
<!-- New Tab Section -->
<div class="tab-section">
    <mat-tab-group>
      <mat-tab label="The problem">
        <div class="tab-content">
          <div class="text-section">
            <h2>Does the current information about tourism businesses and initiatives 
                accurately reflect their rapid growth and the efforts they are making toward 
                sustainability and their impact on the Sustainable Development Goals (SDGs)?</h2>
            <p class="subtitle">NO. Medellín is currently experiencing a surge in tourism,
                 but the sources of information available to visitors and investors tend to
                  favour larger, well-established businesses and popular initiatives. This bias
                   creates a barrier to discovering smaller, sustainable businesses and grassroots
                    projects that could offer unique, environmentally responsible experiences. As
                     a result, the full diversity of Medellín’s tourism offerings remains hidden,
                      limiting opportunities for a more balanced and inclusive tourism growth that
                       aligns with sustainable practices.</p>
            <h2> There are three key problems</h2>
            
            <p class="author">1. The current search methods are bias to larger initiatives.</p>
            <p class="author">2. Business and initiative information is outdated and scarce.</p>
            <p class="author">3. Current tourism information provides little to no insight into 
                its impact on quality of life, green spaces, and environmentally friendly areas,
                 nor on how these aspects affect the city's economy and society.</p>
            <h2>Solutions</h2>
            <p class="author">1. Create a platform to leverage geospatial information to recommend
                 city locations based on user queries.</p>
            <p class="author">2.Develop tourism impact index.</p>
          </div>
          <div class="image-section">
            <img src="/assets/medellin_3.jpg" alt="Tab 1 Image" />
          </div>
        </div>
      </mat-tab>
      <mat-tab label="History of Medellín">
        <div class="tab-content">
          <div class="text-section">
            <h2>The story of Medellín is one of resilience and transformation, flowing alongside
                 the banks of the Medellín River</h2>
            <p class="subtitle">By the mid-20th century, Medellín was the thriving industrial heart
                 of Colombia. The city’s growth continued, drawing migrants from rural areas in search
                  of opportunities. The Medellín River was lined with bustling factories and workshops,
                   driving economic prosperity. Yet, as the city expanded, so did the complexity of its
                    social landscape</p>
            <p class="subtitle">The 1980s brought a dark chapter. Medellín became synonymous with drug
                 cartels, violence, and fear, largely due to the influence of Pablo Escobar’s cartel.
                  Crime rates skyrocketed, and life in the city became precarious. Despite these challenges,
                   the people of Medellín held onto their spirit of “berraquera”—a local term that embodies
                    resilience and determination</p>
            <p class="subtitle">Entering the 2000s, Medellín underwent a remarkable transformation. The spirit
                 of “berraquera” drove a new vision for the city, one focused on social progress and urban 
                 renewal. Investment poured into public infrastructure, with projects like the Medellín Metro,
                 the innovative Metrocable, and a network of public libraries and parks. Medellín’s leaders worked
                 to bridge social divides, ensuring that the city’s most vulnerable communities felt included in 
                 its progress</p>
            <p class="subtitle">Today, Medellín has evolved into a vibrant centre for technology, entrepreneurship,
                 and tourism. It’s known as an innovation hub, where startups thrive, and technology companies find
                  a welcoming ecosystem. The once-industrial riverbanks have been revitalized, with green spaces,
                   cultural venues, and modern infrastructure that draw locals and visitors alike. Medellín’s 
                   story—from an industrial town to a city marred by violence to a globally recognized hub for
                    innovation—is a testament to the resilience, resourcefulness, and unbreakable spirit of its people</p>
          </div>
          <div class="image-section">
            <img src="/assets/medellin_4.jpg" alt="Tab 2 Image" />
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Tourism impact indicators">
        <div class="tab-content">
          <div class="text-section">
            <h2>How tourism impacts the city</h2>
            <p class="subtitle">Description for Tab 1.</p>
            <p class="author">Author or Source for Tab 1</p>
          </div>
          <div class="image-section">
            <img src="/assets/gato_verdolaga.webp" alt="Tab 1 Image" />
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Sustainable indicators">
        <div class="tab-content">
          <div class="text-section">
            <h2>Tab 2 Title</h2>
            <p class="subtitle">Description for Tab 2.</p>
            <p class="author">Author or Source for Tab 2</p>
          </div>
          <div class="image-section">
            <img src="/assets/gato_verdolaga.webp" alt="Tab 2 Image" />
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Our solution">
        <div class="tab-content">
          <div class="text-section">
            <h2>The problem</h2>
            <p class="subtitle">Description for Tab 1.</p>
            <p class="author">Author or Source for Tab 1</p>
          </div>
          <div class="image-section">
            <img src="/assets/gato_verdolaga.webp" alt="Tab 1 Image" />
          </div>
        </div>
      </mat-tab>
      <mat-tab label="MIT License">
        <div class="tab-content">
          <div class="text-section">
            <h2>Tab 2 Title</h2>
            <p class="subtitle">Description for Tab 2.</p>
            <p class="author">Author or Source for Tab 2</p>
          </div>
          <div class="image-section">
            <img src="/assets/gato_verdolaga.webp" alt="Tab 2 Image" />
          </div>
        </div>
      </mat-tab>
      <!-- Add more tabs as needed -->
    </mat-tab-group>
  </div>